<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About</title>
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>
    <body>
        <!-- NAVIGATION -->
        <%- include("partials/navigations") %>
        
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, suscipit aliquid eligendi dolores officiis magni. Saepe ipsum animi illo magni, fuga iste suscipit quibusdam qui molestiae aperiam ex, dolorum ipsa cupiditate tenetur! Voluptas saepe accusamus iure harum ratione deserunt voluptatum enim dicta fugit, quos officia, obcaecati quibusdam doloribus. Accusamus, est nostrum! Aperiam, doloremque delectus rerum aspernatur ex rem dicta saepe id quod molestiae voluptas quidem ducimus reprehenderit maxime. Facilis nihil consectetur, maxime temporibus tempore, asperiores quos animi provident possimus minima explicabo totam cum nam quisquam eaque libero! Odit sapiente iure culpa ex, quis consequuntur, rem blanditiis ut possimus aliquam at?</p>

        <!-- FOOTER -->
      <%- include("partials/footer") %>
    </body>
</html>