<!DOCTYPE html>
<html lang="en">
    <!-- HEADER -->
    <%- include("../partials/header") %>

    <body>
        <!-- NAVIGATION -->
        <%- include("../partials/navigations") %>
        
        <h1>Create Article</h1>

        <form action="/articles/create_article" method="POST">
            <div class="form-group">
                <label for="inputTitle">Title</label>
                <input type="text" name="title" class="form-control" id="inputTitle" placeholder="Your title">
            </div>
            <div class="form-group">
                <label for="inputAuthor">Author</label>
                <input type="text" name="author" class="form-control" id="inputAuthor" placeholder="Your Author">
            </div>
            <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea name="description" class="form-control" id="inputDescription" rows="5" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <label for="inputDate">Published Date</label>
                <input type="date" name="published_date" class="form-control" id="inputDate">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!-- FOOTER -->
        <%- include("../partials/footer") %>
    </body>
</html>