<%- include("partials/header") %>
  <body>
    <%- include("partials/navigations") %>
    <div class="container">
      <h1>Contact Page</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et illum vel eos soluta eius esse repudiandae aspernatur, magnam perspiciatis? Magnam.</p>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>