<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni non assumenda voluptatem minus, quibusdam ipsa itaque et repellat quae pariatur nihil nisi exercitationem, blanditiis laudantium sequi rem ullam omnis. Consequatur vero quos reiciendis blanditiis atque excepturi est autem harum pariatur minus maxime commodi, ratione facere esse animi fugit assumenda eveniet, beatae a fugiat totam sit! Aliquam ex maiores sapiente illo itaque sit, quos laboriosam doloribus porro, veniam optio accusantium aperiam? Quia, aut. Aliquid commodi culpa inventore atque hic reprehenderit sit iure voluptas cum soluta itaque eos excepturi a quo fugit eaque, optio natus magni illo cumque. Enim, adipisci ad.</p>
<%- include("partials/footer"); -%>
