<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome App</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- NAVIGATION -->
    <%- include("partials/navigations") %>
    
    <h1>About Me page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed labore voluptates ratione sit a maxime rerum? Harum voluptas dolores quisquam obcaecati non officia quidem minus voluptatum tempora autem nam ducimus temporibus ipsa natus eligendi, repellendus ex sunt ullam maxime, neque itaque est similique ab fugit. Dicta dolorum id totam nisi in est, vitae doloribus harum rem tempore nobis ipsum architecto maxime corrupti sint, at excepturi sed. Nostrum totam commodi ex id tenetur officiis sequi at consequatur, libero quo illo, odio cum qui fuga natus eligendi. Asperiores nam vero maiores? Tenetur quis aliquam magni corrupti ipsum maiores vitae ipsam reprehenderit dolorem!</p>
</body>
</html>