<!-- FOOTER -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
        <p>Posted by: M. Ashary</p>
        <p>Contact information: <a href="mailto:someone@example.com">
        ashary@example.com</a>.</p>
    </div>
</footer>