<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <!-- NAVIGATION -->
    <%- include("partials/navigations") %>
    
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
